
.AddArtistForm input {
    margin: auto;
  }

.AddArtist-autocompleteContainer {
    position: absolute;
    text-align: left;
    font-size: smaller;
    font-style: italic;
    background-color: lightgray;
    color: black;
    width: auto;
    cursor: pointer;
    border-radius: 2px;
}