.App {
  text-align: center;
  font-size: 1rem;
  /* background-color: #282c34; */
  background-color:steelblue;
  min-height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: column;
  color: black;
}





