.ArtistItem {
    color: white;
    width: 150px;
    text-align: left;
    border-bottom: solid white 1px;
    align-items: center;
}

.ArtistItem-button {
    background-color: red;
    font-size: x-small;
    border-radius: 6px;
    border: none;
    float:right;
    color: white;
}