.GuestForm input {
  width: 50%;
  margin: auto;
}

.GuestForm-autocompleteContainer {
  text-align: left;
  font-size: smaller;
  font-style: italic;
  background-color: lightblue;
  color: black;
  width: 50%;
  margin:auto;
  cursor: pointer;
}

.GuestForm-radius {
  width: 30%;
  margin: auto;
}
