.GuestForm input {
  width: 50%;
  margin: auto;
}

.GuestForm-autocompleteContainer {
  position: absolute;
  left: 19%;
  text-align: left;
  font-size: smaller;
  font-style: italic;
  background-color: lightgray;
  color: black;
  width: 20%;
  cursor: pointer;
  border-radius: 2px;
}

.GuestForm-radius {
  width: 30%;
  margin: auto;
}
