.Profile {
    justify-content: center;
}

.Profile-content {
    flex-direction: row;
}

.autocompleteContainer {
    position: absolute;
    text-align: left;
    font-size: smaller;
    font-style: italic;
    background-color: lightgray;
    color: black;
    width: auto;
    cursor: pointer;
    border-radius: 2px;
}

.Profile-artists {
    justify-content: center;
    overflow-y: scroll;
    height: 330px;
}